<!-- <div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">
      <img
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ioY9jnR7w52Y/v0/1200x-1.jpg"
        style="width: 500px; height: 400px"
      />
    </div>
    <div class="flip-box-back">
      <h2>Paris</h2>
      <p>What an amazing city</p>
    </div>
  </div>
</div> -->
<section style="overflow-x: hidden">
  <div class="row landing">
    <div class="container d-flex justify-content-center my-auto">
      <mat-card
        style="
          height: 25rem;
          width: 45rem;
          border-radius: 1rem;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        "
        ><mat-tab-group mat-stretch-tabs>
          <mat-tab style="width: fit-content">
            <ng-template mat-tab-label
              ><span class="material-icons mx-3" style="scale: calc(1.5)">
                flight </span
              >Flight</ng-template
            >
            Content 1</mat-tab
          >
          <mat-tab label="Second"
            ><ng-template mat-tab-label
              ><span class="material-icons mx-3" style="scale: calc(1.5)">
                luggage </span
              >Hotel</ng-template
            >Content 2</mat-tab
          >
          <mat-tab label="Third"
            ><ng-template mat-tab-label
              ><span class="material-icons mx-3" style="scale: calc(1.5)">
                self_improvement </span
              >Vacation</ng-template
            >Content 3</mat-tab
          >
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</section>
<section style="background-color: #f8f9fa">
  <div class="container">
    <div class="row" style="margin-top: 8rem">
      <div class="col-md-6 d-flex justify-content-center">
        <img
          src="https://images.pexels.com/photos/1010657/pexels-photo-1010657.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="img-fluid"
          style="width: 35rem; height: auto; border-radius: 1rem"
        />
      </div>
      <div class="col-md-6">
        <div class="mat-display-4">Beautiful Locations</div>
        <h1>Click to See our vast selection of around the world locations.</h1>
        <button mat-raised-button style="font-style: italic">Locations</button>
      </div>
    </div>
    <div class="row" style="margin-top: 16rem">
      <div class="col-md-6 text-center">
        <div class="mat-display-4">Our Goal</div>
        <h1>good experience</h1>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <img
          src="https://images.pexels.com/photos/1058959/pexels-photo-1058959.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="img-fluid"
          style="width: 35rem; height: auto; border-radius: 1rem"
        />
      </div>
    </div>
  </div>
</section>
<section style="background-color: #f8f9fa; height: 50rem; padding-top: 2rem">
  <div class="container" style="margin-top: 5rem">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center">
        <mat-card class="custom_card"></mat-card>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <mat-card class="custom_card"></mat-card>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <mat-card class="custom_card"></mat-card>
      </div>
    </div>
    <div class="row" style="margin-top: 6rem">
      <div class="col-md-4 d-flex justify-content-center">
        <mat-card class="custom_card"></mat-card>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <mat-card class="custom_card"></mat-card>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <mat-card class="custom_card"></mat-card>
      </div>
    </div>
  </div>
</section>
<!-- <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <div class="flip-box">
      <div class="flip-box-inner" (click)="toggleFlip()" [@flipState]="flip">
        <div class="flip-box-front">
          <img
            src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ioY9jnR7w52Y/v0/1200x-1.jpg"
          />Front
        </div>
        <div class="flip-box-back">
          <h2>test</h2>
          <p>working</p>
        </div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <img
      src="https://www.berjayahotel.com/sites/default/files/colombo_30.jpg"
    />
    2</mat-grid-tile
  >
  <mat-grid-tile>
    <img
      src="https://www.erieinsurance.com/-/media/images/blog/articlephotos/2018/rentalcarlg.jpg?rev=988292a171a94e568eee52f6956070f2"
    />
    3</mat-grid-tile
  >
  <mat-grid-tile>
    <img
      src="https://www.erieinsurance.com/-/media/images/blog/articlephotos/2018/rentalcarlg.jpg?rev=988292a171a94e568eee52f6956070f2"
    />
    4</mat-grid-tile
  >
</mat-grid-list> -->
